import React, { PropTypes } from 'react';

const {{ componentName }} = props => {
    {{ instantiations }}
    return (
        <div>
            {{ childJsx }}
        </div>
    )
};

{{ componentName }}.propTypes = {
    label: PropTypes.string,
};

{{ componentName }}.defaultProps = {
    label: 'Hello World',
};

export default {{ componentName }};
