import React, { PropTypes } from 'react';
{{#imports }}{{{.}}}{{/imports}}

const {{ componentName }} = props => {
{{#instantiations }}{{{.}}}{{/instantiations}}
    return (
        <div>
{{#childJsx}}{{{.}}}{{/childJsx}}
        </div>
    )
};

{{ componentName }}.propTypes = {
    label: PropTypes.string,
};

{{ componentName }}.defaultProps = {
    label: 'Hello World',
};

export default {{ componentName }};
