    const {{ componentName }}Array = props.{{ pluralizedComponentName }}.map((item) => {
        // provide required transforms here

        return render{{ capitalizedComponentName }}({ item });
    });
